<h2>Nature</h2>
<p>
  The leather jacked showed the scars of being his favorite for years. It wore
  those scars with pride, feeling that they enhanced his presence rather than
  diminishing it. The scars gave it character and had not overwhelmed to the
  point that it had become ratty. The jacket was in its prime and it knew it.
</p>
<img
  src="../../assets/midJourney/39.png"
  alt="image1"
    class="img-responsive"
/>
<p>Author: test@gmail.com</p>
<p>Date: March 28, 2022</p>
<button>Edit</button> || <button>Delete</button>
